[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]

[packages]
prompt_toolkit = "*"
ptpython = "*"
pypager = "*"
asyncssh = "*"

[requires]
python_version = "3.6"

[scripts]
