[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]

[packages]
prompt_toolkit = "*"
fabric = "*"
requests = "*"
tomlkit = "*"
docopt = "*"
dotted = "*"

[requires]
python_version = "3.8"

[scripts]
